.env

# macOS
.DS_Store

# Xcode: per-user settings and build output
xcuserdata/
DerivedData/
*.ipa
*.dSYM
*.dSYM.zip

mpcdf-skills

hf_token
wandb_token

meta_app_id
meta_app_secret

gcp-sa.json
__pycache__/
*.sqlite
.cache/
.venv/
