.env
/Backend/.idea/go.imports.xml
/.idea/go.imports.xml
/Backend/.idea/modules.xml
/.idea/modules.xml
/.idea/HackGT-13-Proj.iml
/Backend/.idea/vcs.xml
/.idea/vcs.xml


# macOS
.DS_Store

# Xcode: per-user settings and build output
xcuserdata/
DerivedData/
*.ipa
*.dSYM
*.dSYM.zip

mpcdf-skills

hf_token
hf_token_full_access
wandb_token

meta_app_id
meta_app_secret

gcp-sa.json
__pycache__/
*.sqlite
.cache/
.venv/
dataingestion/.mongo-data/
