[Unit]
Description=SideQuestz Backend Service
After=network.target mongod.service

[Service]
Type=simple
WorkingDirectory=/home/backend
ExecStart=/home/backend/sidequestz-server
Restart=always
RestartSec=5s

# Environment configuration
Environment=PORT=8080
Environment=MONGO_URI=mongodb://127.0.0.1:27017
Environment=MONGO_DB=hackgt
Environment=JWT_SECRET=sxXo2L3Ywe6gdezLpu8P1rclA98YWnDIyPmAYnqaBmAZGTLN33rtmnizjZzof8O2
Environment=COOKIE_SECURE=true

# Security Hardening
NoNewPrivileges=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
